<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :name_tsvector %>
    <%= form.text_field :name_tsvector %>
  </div>

  <div class="field">
    <%= form.label :meaning %>
    <%= form.text_area :meaning %>
  </div>

  <div class="field">
    <%= form.label :readings %>
    <%= form.text_field :readings %>
  </div>

  <div class="field">
    <%= form.label :readings_tsvector %>
    <%= form.text_field :readings_tsvector %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
